<?xml version='1.0' encoding='utf-8'?>
<widget id="de.appplant.cordova.plugin.emailcomposer.example" version="0.8.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Solareff</name>
    <description>
        Solareff Electricity Consumption Calculator
    </description>
    <author href = "http://www.dontknowyet.co.za" email = "alwyn.grobler@gmail.com">
      Appdev
    </author>
	<plugin name="cordova-plugin-email-composer" source="npm" spec="0.8.3" />
    <plugin name="cordova-plugin-camera" source="npm" spec="2.3.0" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="windows-target-version" value="10.0" />
</widget>
